<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/event_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/event_dashboard.js"></script>
    </script>
  </head>
  <body>
    <%= erb :nav %>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h3>Participants</h3>
          <div class="participants">
            <div class="participant">
              <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
              <div>
                <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                <p class="participant-username">@garynil</p>
                <p class="participant-location">Taipei, Taiwan</p>
                <p class="participant-rating">
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
              <div class="participant-role">
                <span class="shopper-role">
                  <img class="role-img" src="/img/role-1.png">
                </span>
                <p class="role-name">Shopper</p>
              </div>
            </div>
            <div class="participant">
              <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
              <div>
                <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                <p class="participant-username">@garynil</p>
                <p class="participant-location">Taipei, Taiwan</p>
                <p class="participant-rating">
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
              <div class="participant-role">
                <span class="chef-role">
                  <img class="role-img" src="/img/role-2.png">
                </span>
                <p class="role-name">Chef</p>
              </div>
            </div>
            <div class="participant">
              <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
              <div>
                <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                <p class="participant-username">@garynil</p>
                <p class="participant-location">Taipei, Taiwan</p>
                <p class="participant-rating">
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
              <div class="participant-role">
                <span class="helper-role">
                  <img class="role-img" src="/img/role-3.png">
                </span>
                <p class="role-name">Helper</p>
              </div>
            </div>
            <div class="participant">
              <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
              <div>
                <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                <p class="participant-username">@garynil</p>
                <p class="participant-location">Taipei, Taiwan</p>
                <p class="participant-rating">
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
              <div class="participant-role">
                <span class="guest-role">
                  <img class="role-img" src="/img/role-4.png">
                </span>
                <p class="role-name">Guest</p>
              </div>
            </div>
            <div class="participant">
              <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
              <div>
                <p>Eduardo Salazar <span class="participant-age">(22)</span></p>
                <p class="participant-username">@garynil</p>
                <p class="participant-location">Taipei, Taiwan</p>
                <p class="participant-rating">
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                  <span class="star glyphicon glyphicon-star-empty"></span>
                </p>
              </div>
              <div class="participant-role">
                <span class="cleaner-role">
                  <img class="role-img" src="/img/role-5.png">
                </span>
                <p class="role-name">Cleaner</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <h2 class="event-title">Friday night! Eat pizzaaaaa!</h2>
          <div>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation dashboard" ><a href="#discussion" aria-controls="discussion" role="tab" data-toggle="tab">Discussion</a></li>
            <li role="presentation dashboard" ><a href="#detail" aria-controls="detail" role="tab" data-toggle="tab">Event Detail</a></li>
            <li role="presentation dashboard" class="active"><a href="#request" aria-controls="request" role="tab" data-toggle="tab">Request</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="discussion">
              <div class="input-post">
                <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56" alt="">
                <input type="text" placeholder="Write your post here..." >
              </div>
              <div class="discussion-board">
                <div class="post">
                  <div class="usr-post">
                    <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56" class="usr-post-img" alt="">
                    <p class="usr-post-name">Eduardo Salazar<span class="usr-post-age">(22)</span></p>
                  </div>
                  <div class="usr-post-text-div">
                    <p class="usr-post-text">When will we shop for ingredients? I'm Hungryyyyy!!!! :D :D :D :D :D</p>
                  </div>

                </div>
                <div class="post ">
                  <div class="usr-post">
                    <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56" class="usr-post-img" alt="">
                    <p class="usr-post-name">Luis Robles<span class="usr-post-age">(22)</span></p>
                  </div>
                  <div class="usr-post-text-div">
                    <p class="usr-post-text">Lets go to Costco on Sunday!! Lorem
                      ipsum dolor sit amet, consectetur adipiscing elit. Nulla
                      elementum tortor urna, ac interdum augue rutrum ac.</p>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane " id="detail">
              <div class="detail-main">
                <p class="subtitle-tag">Event Details</p>
                <p class="detail-sub-title">
                  <span class="detail-date">2017.05.28</span>
                  <span class="detail-time">18:00</span>
                  <span class="glyphicon glyphicon-map-marker detail-location-icon location-icon"></span>
                  <a target="_blank" href="https://www.google.com.tw/maps/search/Taipei%20city?hl=en&source=opensearch" class="detail-location">No.1, Sec 4, Roosevelt Road, Taipei, Taiwan</a>
                </p>
                <div class="detail-event-availability">
                  <img src="img/par-1-4.png" alt="">
                  <p><span class="detail-approved">2</span>/<span class="detail-total">3</span></p>
                </div>
              </div>
              <div class="detail-menu">
                <p class="subtitle-tag">Menu</p>
                <div class="dishes">
                  <div class="dish">
                    <img class="center-cropped" src="https://www.rhodesbread.com/images/recipes/MediterraneanPizzaLarge.jpg" class="dish-img center-cropped" alt="">
                    <p class="dish-name">Meat Pizza</p>
                  </div>
                  <div class="dish">
                    <img class="center-cropped" src="https://www.rhodesbread.com/images/recipes/MediterraneanPizzaLarge.jpg" class="dish-img center-cropped" alt="">
                    <p class="dish-name">Margarita Pizza</p>
                  </div>
                </div>
              </div>
              <div class="detail-location-text">
                <p class="subtitle-tag">Location</p>
                <!-- Google Maps Plugin -->
              </div>

            </div>
            <div role="tabpanel" class="tab-pane active" id="request">
              <div class="requests">
                <div class="request">
                  <div class="usr-request">
                    <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
                    <div>
                      <p>Eduardo Salazar <span class="request-age">(22)</span></p>
                      <p class="request-username">@garynil</p>
                      <p class="request-location">Taipei, Taiwan</p>
                      <p class="request-rating">
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                  <div class="usr-request-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu blandit orci posuere, id rutrum lorem scelerisque. Pellentesque vel bibendum eros. Mauris imperdiet erat a purus dapibus, in malesuada felis semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu blandit orci posuere, id rutrum lorem scelerisque. Pellentesque vel bibendum eros. Mauris imperdiet erat a purus dapibus, in malesuada felis semper.  </p>
                  </div>
                  <div class="usr-request-options">
                    <div class="requested-roles">
                      <a href=""><div class="requested-role">
                        <span class="shopper-role">
                          <img class="role-img" src="/img/role-1.png">
                        </span>
                        <p class="role-name">Shopper</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="chef-role">
                          <img class="role-img" src="/img/role-2.png">
                        </span>
                        <p class="role-name">Chef</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="helper-role">
                          <img class="role-img" src="/img/role-3.png">
                        </span>
                        <p class="role-name">Helper</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="guest-role">
                          <img class="role-img" src="/img/role-4.png">
                        </span>
                        <p class="role-name">Guest</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="cleaner-role">
                          <img class="role-img" src="/img/role-5.png">
                        </span>
                        <p class="role-name">Cleaner</p>
                      </div></a>
                    </div>
                    <div class="request-buttons">
                      <button class="btn btn-default btn-reject" type="button" name="button">Reject</button>
                      <button class="btn btn-default btn-accept" type="button" name="button">Accept</button>
                    </div>
                  </div>
                </div>
                <div class="request">
                  <div class="usr-request">
                    <img class="img-circle" src="https://scontent-tpe1-1.xx.fbcdn.net/v/t1.0-1/p320x320/14100426_10210148558808498_1279246961028949519_n.jpg?oh=238142139449c55aa9fbecf928158f36&oe=59A07F56">
                    <div>
                      <p>Eduardo Salazar <span class="request-age">(22)</span></p>
                      <p class="request-username">@garynil</p>
                      <p class="request-location">Taipei, Taiwan</p>
                      <p class="request-rating">
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                        <span class="star glyphicon glyphicon-star-empty"></span>
                      </p>
                    </div>
                  </div>
                  <div class="usr-request-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu blandit orci posuere, id rutrum lorem scelerisque. Pellentesque vel bibendum eros. Mauris imperdiet erat a purus dapibus, in malesuada felis semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam consequat arcu blandit orci posuere, id rutrum lorem scelerisque. Pellentesque vel bibendum eros. Mauris imperdiet erat a purus dapibus, in malesuada felis semper.  </p>
                  </div>
                  <div class="usr-request-options">
                    <div class="requested-roles">
                      <a href=""><div class="requested-role">
                        <span class="shopper-role">
                          <img class="role-img" src="/img/role-1.png">
                        </span>
                        <p class="role-name">Shopper</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="chef-role">
                          <img class="role-img" src="/img/role-2.png">
                        </span>
                        <p class="role-name">Chef</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="helper-role">
                          <img class="role-img" src="/img/role-3.png">
                        </span>
                        <p class="role-name">Helper</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="guest-role">
                          <img class="role-img" src="/img/role-4.png">
                        </span>
                        <p class="role-name">Guest</p>
                      </div></a>
                      <a href=""><div class="requested-role">
                        <span class="cleaner-role">
                          <img class="role-img" src="/img/role-5.png">
                        </span>
                        <p class="role-name">Cleaner</p>
                      </div></a>
                    </div>
                    <div class="request-buttons">
                      <button class="btn btn-default btn-reject" type="button" name="button">Reject</button>
                      <button class="btn btn-default btn-accept" type="button" name="button">Accept</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>

      </div>
    </div>
  </body>
</html>
