<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <section id="options" class="container col-lg-1" >
    <!-- Option elements (search, create event, myEvent) -->
    <ul>
      <li>

      </li>
      <li>

      </li>
      <li>

      </li>
    </ul>
  </section>

  <div class="col-lg-8 dashboard container" >
    <section id="search-panel" class="container" >
    </section>
    <section id="event-list" class="container" >
    </section>
  </div>


  <section id="right-panel" class="container col-lg-3" >
  </section>


</body>
</html>
