<!DOCTYPE html>
<html lang="en">
<head
  <title>FoodyCall - Cook Together, Happy Together</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/homepage.css">
  <link rel="stylesheet" href="/css/signup.css">

  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyClm167i9c0k94OCKYemclsBJxuYqhV2gQ" type="text/javascript"></script>

</head>
<body>
  <%= erb :nav %>
<div class="container sigup">
  <div class="container">
    <div class="col-lg-12">
    <div id="logbox">
      <%= erb :flash_bar %>
      <form id="signup" method="post" action="/login">
        <h2>Log In to FoodyCall</h2>
        <br />
        <br />
        <br />

        <br />
        <div class="row col-lg-10 col-lg-push-1">
          <input name="user[email]" type="email" placeholder="Email " class="input pass col-lg-12"/>
        </div>

        <div class="row col-lg-10 col-lg-push-1">
          <input name="user[password]" type="password" placeholder="Password" required="required" class="input pass col-lg-12"/>
        </div>
        <div class="row col-lg-6 col-lg-push-6">
          <a class="forget-password">Forget Password</a>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <input type="submit" value="Log In" class="inputButton"/>

      </form>
    </div>
   </div>
 </div>

</div>
</script>
</body>
</html>
