<nav class="navbar navbar-default navbar-fixed-top ">
<div class="container container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      <img alt="Brand" class="foody-logo" src="/img/logo.png">
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div>
    <form class="navbar-form navbar-left">
      <div class="input-group form-group">
        <input type="text" class="form-control form-search" placeholder="">
        <span class="input-group-btn">
          <button class="btn btn-secondary btn-search" type="button">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>

    <ul class="nav navbar-buttons navbar-nav navbar-right">
      <li class="text-center"><a href="/events/new"><span class="glyphicon glyphicon-plus fa-5x"></span><br ><span class="header-text">Create Event</span></a></li>
      <% if @current_user %>
        <li class="text-center"><a href="/dashboard"><span class="glyphicon glyphicon-calendar fa-5x"></span><br><span class="header-text">My Events</span></a></li>
        <li class="text-center nav-user-img">
          <a href="#">
            <span class="notify-badge">3</span>
            <img class="img-circle" src="<%= @current_user['img']%>" alt=""><br>
            <span class="header-text">Hi, <%= @current_user['firstName'] %></span>
          </a>
        </li>
      <% else %>
        <li class="text-center"><a class="active" href="/signup"><br/>Sign Up</a></li>
        <li class="text-center"><a href="/login"><br/>Log in</a></li>
      <% end %>
    </ul>

  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
